nav .brand-logo {
    text-decoration: none !important;
}

.navbar-nav {
    align-items: center !important;
}

nav li:not(:last-child) {
    margin-right: 10px !important;
}
*:focus {
    border: none !important;
    outline: none;
    color: white;
}
nav ul a {
    color: white;
}
nav ul a:hover {
    font-size: larger;
    text-decoration: none !important;
}
nav ul a:focus {
    font-size: larger;
}
.navbar-brand:hover {
    color: white;
}

@media only screen and (max-width: 992px)
{
    nav .navbar-brand {
        left: 5% !important;
        text-decoration: none;
    }
}