#dashboard {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: 85vh;
    grid-template-areas: "sidebar mainbar";
    justify-self: start;
    column-gap: 10px;
}
.leftpane {
    border: 2px solid red;
}
.rightpane {
    border: 2px solid green;
}

@media (max-width: 480px) {
    #dashboard {
        grid-template-columns: 100%;
        grid-template-areas: "sidebar"
                             "mainbar";
        justify-self: start;
        grid-template-rows: 10vh 80vh;
        row-gap: 10px;
    }
}

@media (max-width: 767.9px) {
}

/* @media (max-width: 1024px) {
}

@media (max-width: 480px) {
} */
