#dashboard {
    display: grid;
    grid-template-columns: 20% 78%;
    grid-template-rows: 78vh;
    grid-template-areas: "sidebar mainbar";
    justify-self: start;
    column-gap: 10px;
    margin-top: 4rem !important;
}

.leftpane {
    border: 0px solid red;
}

.rightpane {
    overflow-y : auto !important;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}

.cardcontent {
    min-width : 25%;
}

@media (max-width: 480px) {
    #dashboard {
        /* grid-template-columns: 100%;
        grid-template-areas: "sidebar";
        grid-template-areas: "mainbar";
                            
        justify-self: start;
        grid-template-rows: 100%;
        row-gap: 10px; */
        display: flex;
        flex-direction: column;
    }

    #dashboard .rightpane {
        grid-template-columns: 100%;
        grid-template-areas: "mainbar";                            
        justify-self: start;
        grid-template-rows: 100%;
        row-gap: 10px;
        min-height: 64vh;
        height: auto;
    }
}

@media (max-width: 768px) {
    #dashboard {
        grid-template-rows: 88vh;
    }
}

@media (max-width: 1024px) {
    #dashboard {
        grid-template-rows: 84vh;
    }
}
