#dashboard {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 90vh;
    grid-template-areas: "sidebar mainbar";
    justify-self: start;
    column-gap: 10px;
}
.leftpane {
    border: 0px solid red;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}

.rightpane {
    border: 2px solid green;
}

@media (max-width: 480px) {
    #dashboard {
        grid-template-columns: 100%;
        grid-template-areas: "sidebar"
                             "mainbar";
        justify-self: start;
        grid-template-rows: auto 80vh;
        row-gap: 10px;
    }
}

@media (max-width: 767.9px) {
}

/* @media (max-width: 1024px) {
}

@media (max-width: 480px) {
} */
