
li {
    list-style: none !important;
}

#logincontainer {
    max-width: 500px;
    height: 80.5vh;
}

.cardContainer {
    display: flex;
    position: relative;
    gap: 10px;
    overflow: auto;
}
@media (max-width: 360px)
{
    #logincontainer {
        height: 76vh !important;
    }
}

@media (max-width: 480px)
{
    #logincontainer {
        height: 81vh;
    }
    #checkoutlist {
        height:auto !important;
        overflow: auto;
    }
}


.card-img-top {
    height: 250px;
}

#checkoutlist {
    height:70vh;
    overflow: auto;
}