
li {
    list-style: none !important;
}

#logincontainer {
    max-width: 500px;
    height: 80.5vh;
}

.cardContainer {
    display: flex;
    position: relative;
    gap: 10px;
    overflow: auto;
}
@media (max-width: 360px)
{
    #logincontainer {
        height: 76vh !important;
    }
}

@media (max-width: 480px)
{   
    #rightcontainer .row:last-child .col-sm-12:last-child {
        /* margin-bottom: 250px !important; */
    }
    #logincontainer {
        height: 81vh;
    }
    #checkoutlist {
        overflow: auto;
        order: 1;
    }
}

Button:not(:last-child) {
    margin-right: 1em;
}

#checkoutlist {
    height:70vh;
    overflow: auto;
}